@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,700;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    bottom: 0;
    border: none;
    font-family: "Roboto", sans-serif;
}
body {
    padding-top: 72px;
    background: #FBFBFB;
}

.header_mobile{
    display: none;
}

.menu-none{
    display: none;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 999;
    background-color: #86D3A050;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    display: flex;
    align-items: center;

    nav{
        margin-left: auto;
        margin-right: 1.75rem;
        display: flex;
        align-items: center;
        gap: 1.75rem;

        button{
            text-decoration: none;
            padding: 0.5rem 1.2rem;
            border-radius: 10px;
            background-color: #B3CBBB;
            box-shadow: 0 4px 4px #00000025;
        }

        button:hover{
                border-radius: 15px;
                margin-inline: -0.2rem;
                padding: 0.7rem 1.4rem;
                transition: 0.2s;
                box-shadow: 4px 8px 4px #00000025;
        }
        button:not(:hover){
            transition: 0.2s;
        }

        
    }
    
}

main{
    display: contents;
    align-items: center;
    justify-content: center;
}

.ESG_Titulo{
    margin: 0 15px;
    color: #86D3A0;
    font-family: "Exo", sans-serif;
}

.img_logoEmpresa{
    width: 57px;
    height: 57px;
}

.footer{
    margin-top: 3rem;
    background: #B3CBBB;
    padding: 2rem;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
}


.img_logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 4px #D9D9D9;
    background: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}




.title{
    display: block;
    text-align: center;
    margin: 5rem 10%;
}

.cardConteiner_info{
    display: flex;
    justify-content: space-evenly;
}

.card_info{
    width: 220px;
    height: 220px;    
    border-radius: 1rem;
    background: #ffffff;
    box-shadow: 25px 25px 50px #00000024,
    25px 25px 50px #E3E3E3, 25px 25px 50px #E3E3E3 inset;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.card_icon{
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    background-color: #86D3A050;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 25%;
    margin-inline: auto;
    margin-top: -25px;
}

.secondary_text{
    display: block;
    text-align: center;
    margin: 5rem 10%;
}

.secondary_text > * {
    margin: 2rem 20%;
}

.formCliente{
    background: #ffffff;
    margin: 10px 20%;
    padding: 20px 25px 20px 20px;

    border-radius: 1.75rem;
    box-shadow: 0px 10px 35px -3px rgba(0,0,0,0.3); 
    
        form{
            input, textarea{
                border: #63636350 1px solid;
                width: 100%;
                height: 1.5rem;
                border-radius: 0.5rem;
                padding: 4px 0px 1px 5px ;
            }
            textarea{
                height: 7rem;
            }
        }

        form > * {
            margin: 7px 0 3px 0;
        }
}






.button{
    text-decoration: none;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    background-color: #B3CBBB;
    box-shadow: 0 4px 4px #00000025;

    display: flex;
    text-align: center ;
    justify-content: center;
    align-items: center;

    *{
        margin-left: 5px;
    }
}

.button:hover{
    border-radius: 15px;
    /* margin: -0.2rem -0.2rem -0.2rem -0.2rem; */
    margin: 3.8px -0.2rem 0rem -0.2rem;
    padding: 0.7rem 1.4rem;
    transition: 0.2s;
    box-shadow: 4px 8px 4px #00000025;

    /* background: radial-gradient(circle, rgba(253,187,45,1) 0%, rgba(179,203,187,1) 70%); */

    /* background: radial-gradient(circle, rgba(179,203,187,1) 30%, rgba(148,187,233,1) 100%); */
}

.button:not(:hover){
    transition: 0.2s;
}

@media (max-width: 1035px) {

    .ESG_Titulo{
        display: none;
    }
}

@media (max-width: 700px) {
    .header_desktop{
        display: none;
    }
    .header_mobile{
        display: flex;
        justify-content:space-around ;
        padding: 1rem 0;
    }

    .img_logoEmpresa{
        width: 40px;
        height: 40px;
    }
    .ESG_Titulo{
        display: flex;
        font-size: 20px;
        margin: 0;
    }
    
    .option{
        position: absolute;
        z-index: 1000;
        top: 4.5rem;
        right: 0px;
    }
    .option nav{
        padding: 20px;
        background: #b1b2b370;
        box-shadow: 0px 10px 35px -3px rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        border-radius: 20px 0 0 20px ;
        margin: 0;

        animation: menuToLeft 0.2s ease-in-out;
    }

    @keyframes menuToLeft {
        0%{
            opacity: 0;
            transform: translateX(100%);
        }
        100%{
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .option button:hover{
        margin: -0.2rem;
    }

    .button_menu{
        background: none;
        cursor: pointer;
    }
}

@media (max-width: 530px) {
    .cardConteiner_info{
        display: grid;
        gap: 20px;
    }
    .secondary_text > *{
        margin-inline: 0;
    }
    .formCliente{
        margin-inline: 5%;
    }
}



@media (min-width: 600px) {
    html {
        font-size: 1.125em;
    }

    body{
        padding-top: 76px;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 1.25em;
    }

    body{
        padding-top: 80px;
    }
}